NEXT_PUBLIC_SUPABASE_URL=https://your-project.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key
NEXT_PUBLIC_DISPLAY_ENDPOINT_MODE=False
PLAYGROUND_API_URL=http://localhost:7777
NEXT_PUBLIC_APP_URL=http://localhost:3000
